.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 99, 103);
  height: 480px;
  width: 100%;
  background-image: url("https://www.cmguanella.com.ar/images/banner.jpg");
  background-size: cover;
  background-position: center;

}

h1 {
  position: relative;
  top: 40%;
  left: 40%;
  transform: translate(-20%);
  font-size: 70px;
  color: rgb(245, 249, 249);
}
#buttonProf {
  background-color: rgb(44, 99, 103);
  margin-top: 280px;
  padding:0px;
}
