.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 19, 15, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.form-container {
  position: relative;
  background-color:  rgb(44, 99, 103);
  color: antiquewhite;
  font-weight: bold;
  padding: 20px;
  width: 700px;
}
#nombre,
#email {
  width: 100%;
  height: 40px;
}
#consulta {
  width: 100%;
  height: 100px;
}
