.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/Consultorio.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.form-container {
  position: relative;
  font-weight: bold;
  width: 500px;
  height:500px;
}
#nombre,
#email {
  width: 100%;
  height: 40px;
  color: rgb(44, 99, 103);
}
#consulta {
  width: 100%;
  height: 150px;
  color: rgb(44, 99, 103);
}
#btnSubContact {
  background-position: center;
  padding: 10px;
  border-radius: 2px;
  margin-top: 20px;
  color: white;
}
.close-button {
  position: absolute;
  top: 30px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(44, 99, 103);;
  font-weight: bold;
}
