body.incio{
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
}

button {
  color: rgb(227, 206, 44);
  border: none;
  padding: auto;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(44, 99, 103);
  cursor: pointer;
  margin-top: 5px;
}
button:hover {
  color: #efeee9;
  transform: scale(1.2);

}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #efeee9;
  }
  
}