nav {
  background-color: rgb(44, 99, 103);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  height: 8%;
  padding: 7.5px 60px;
  align-content: center;
  position: fixed;
}
.nav-links {
  list-style: none;
}
li {
  display: inline;
  padding: 30px;
 align-content: center;

}
li:hover {
  transform: scale(1.1);
}
a {
  font-size: 1.4em;  
  text-decoration: none;
  color: rgb(227, 206, 44);

}
a:hover {
  color: rgb(218, 192, 104);
}
#contact {
  align-self: center;
}
