nav {
  background-color: rgb(44, 99, 103);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 12%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0 20px;  
}

img {
  width: 70px;
  height: 70px;
  margin-top: 6px;
}

ul.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
li {
  padding: 0 10px;
}
li:hover {
  transform: scale(1.1);
}
a {
  font-size: 1.4em;
  text-decoration: none;
  color:white;
}
#contact {
  margin-left: auto;
}

#buttonProf {
  background-color: rgb(44, 99, 103);
  margin-left: 600px;
  padding: 10px;
}