nav {
  background-color: rgb(44, 99, 103);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  height: 15%px;
  padding: 15px 10em;
  align-content: center;
}
.nav-links {
  list-style: none;
}
li {
  display: inline-block;
  padding: 10px 18px;
}
li:hover {
  transform: scale(1.1);
}
a {
  font-size: 1.4em;
  text-decoration: none;
  color: rgb(227, 206, 44);
}
a:hover {
  color: rgb(218, 192, 104);
}
#contact {
  align-self: center;
}
